.CodeMirror {
  font-family: "monospace";
  font-size: rem(15px);
  height: auto;
  resize: both;
  background-color: transparent !important;

  &-sizer {
    margin-left: 0;
  }

  &-scroll {
    max-height: rem(380px);
  }
}

.static-code {
  .CodeMirror-scroll {
    min-height: 300px;
  }

  .exercise-file-tree {
    min-height: 300px;
    height: auto;
  }

  .eval-result-iframe {
    background: gray;
    width: 100%;
    min-height: 350px;
    border: none;
  }
}
