html {
  font-size: 13px; }

body {
  font-size: 1rem;
  line-height: 1.6;
  font-family: -apple-system,BlinkMacSystemFont,'segoe ui',roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,'helvetica neue',sans-serif;
  font-weight: 400;
  background: #1d1930;
  box-sizing: border-box;
  min-height: 100%;
  overflow-x: hidden;
  width: 100%;
  -webkit-font-smoothing: antialiased; }

img {
  box-sizing: border-box;
  display: inline-block;
  width: 100%; }

::selection {
  background: #d2f2ff;
  color: #1d1930; }

abbr[title] {
  border-bottom: none;
  cursor: help; }

a,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  color: #685ccc; }

[data-tooltip] {
  position: relative;
  pointer-events: help; }

[data-tooltip]::before {
  font-size: 0.92308rem;
  line-height: 1.6;
  font-family: -apple-system,BlinkMacSystemFont,'segoe ui',roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,'helvetica neue',sans-serif;
  font-weight: 500;
  z-index: 10;
  position: absolute;
  left: 50%;
  transform: translateY(-100%) translateX(-50%);
  border-radius: 10000px;
  background-color: rgba(88, 69, 163, 0.96);
  color: #5f5f5f;
  content: attr(data-tooltip);
  text-align: center;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  padding: 7px 14px;
  pointer-events: none;
  transition: opacity 0.15s ease; }

[data-tooltip]:hover::before {
  visibility: visible;
  opacity: 1; }

[data-tooltip]::after {
  content: ' [?]';
  color: #5845a3;
  font-size: 90%;
  vertical-align: baseline; }

.c-container-page {
  padding: 0;
  min-height: calc(100vh - 56px);
  margin: 56px auto 0;
  max-width: 1100px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box; }
  @media (min-width: 601px) {
    .c-container-page {
      padding: 14px;
      background: transparent; } }
  @media (min-width: 1001px) {
    .c-container-page {
      padding: 3.5vw 0;
      background: transparent; } }
  @media (min-width: 1001px) {
    .c-container-page--slim {
      max-width: 800px; } }

.c-container-stats {
  padding: 0;
  display: flex;
  height: 100vh;
  flex-direction: column;
  box-sizing: border-box;
  color: #ffffff;
  position: relative;
  background: #0f0d19;
  user-select: none; }
  .c-container-stats .c-container-stats__map {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #0c0a1f; }
  .c-container-stats .c-container-stats__logo {
    z-index: 99999;
    position: relative;
    width: 100px;
    margin: 14px; }
    @media (min-width: 601px) {
      .c-container-stats .c-container-stats__logo {
        width: 200px; } }
    @media (min-width: 1201px) {
      .c-container-stats .c-container-stats__logo {
        width: 300px;
        text-align: center;
        margin: 36px auto 0;
        position: absolute;
        left: 0;
        right: 0; } }
  .c-container-stats .c-container-stats__title {
    z-index: 99999;
    position: relative;
    font-size: 0.92308rem;
    line-height: 2.5;
    font-family: -apple-system,BlinkMacSystemFont,'segoe ui',roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,'helvetica neue',sans-serif;
    font-weight: 500;
    padding: 0 14px;
    margin: 14px 0 0 0;
    letter-spacing: 0.06154rem;
    text-transform: uppercase;
    color: #ffffff;
    background: #685ccc;
    border-radius: 200px;
    text-align: center;
    display: none;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.3); }
    @media (min-width: 1201px) {
      .c-container-stats .c-container-stats__title {
        display: inline-block; } }
  .c-container-stats .c-container-stats__main {
    flex-grow: 1;
    display: flex;
    flex-direction: row; }
  .c-container-stats .c-container-stats__main-left {
    z-index: 99999;
    position: relative;
    margin: 14px 0 0 14px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
    max-width: 100px;
    justify-items: flex-end; }
    @media (min-width: 601px) {
      .c-container-stats .c-container-stats__main-left {
        max-width: 240px; } }
  .c-container-stats .c-container-stats__footer {
    background: rgba(104, 92, 204, 0.1);
    display: flex;
    padding: 7px 100px 7px 14px;
    flex-direction: row; }
  .c-container-stats .c-container-stats__footer-item {
    z-index: 99999;
    position: relative;
    margin: 0 7px 0 0;
    padding: 7px;
    max-width: 280px;
    border-radius: 12px;
    border: 2px solid transparent;
    display: none; }
    @media (min-width: 601px) {
      .c-container-stats .c-container-stats__footer-item:nth-child(1), .c-container-stats .c-container-stats__footer-item:nth-child(4) {
        display: block; } }
    @media (min-width: 1001px) {
      .c-container-stats .c-container-stats__footer-item:nth-child(1), .c-container-stats .c-container-stats__footer-item:nth-child(2), .c-container-stats .c-container-stats__footer-item:nth-child(4) {
        display: block; } }
    @media (min-width: 1201px) {
      .c-container-stats .c-container-stats__footer-item {
        display: block; } }
    .c-container-stats .c-container-stats__footer-item[href] {
      background: rgba(0, 0, 0, 0.6); }
      .c-container-stats .c-container-stats__footer-item[href]:hover {
        border-color: #685ccc; }

.c-layout-standard {
  width: 100%;
  padding-top: 56px;
  min-height: calc(100vh - 56px); }
  .c-layout-standard:before, .c-layout-standard:after {
    content: " ";
    display: table; }
  .c-layout-standard:after {
    clear: both; }
  .c-layout-standard {
    *zoom: 1; }
  @media (min-width: 1001px) {
    .c-layout-standard .c-layout-standard__content {
      width: 74%;
      float: right;
      min-height: calc(100vh - 56px);
      box-sizing: border-box;
      padding: 0;
      background: #ffffff;
      border-radius: 6px 6px 0 0; }
      .c-layout-standard .c-layout-standard__content--full-width {
        width: 100%;
        float: none; }
    .c-layout-standard .c-layout-standard__content-header {
      position: sticky;
      top: 0;
      z-index: 10;
      background: #f7f9fb; }
    .c-layout-standard .c-layout-standard__sidebar {
      box-shadow: 0 2px 10px 0 rgba(39, 39, 39, 0.09);
      border-radius: 6px 6px 0 0;
      background: #ffffff;
      width: 26%;
      position: sticky;
      top: 0;
      margin: 0;
      float: left;
      min-height: calc(100vh - 56px);
      overflow-y: scroll; } }

.c-section {
  padding: 36px 14px;
  display: block; }
  .c-section:before, .c-section:after {
    content: " ";
    display: table; }
  .c-section:after {
    clear: both; }
  .c-section {
    *zoom: 1; }
  @media (min-width: 1001px) {
    .c-section {
      padding: 36px 3vw; } }
  .c-section--small {
    padding: 14px 3vw; }
  .c-section--flush {
    padding: 0 3vw; }
  .c-section--white {
    background: #ffffff; }
  .c-section--light {
    background: #f7f9fb; }
  .c-section--focal {
    background: #5845a3; }
  .c-section--dark {
    background: #685ccc; }
  .c-section + .c-section {
    border-top: 1px solid rgba(39, 39, 39, 0.08); }
  .c-section[href]:hover {
    background-color: #f7f9fb; }
    .c-section[href]:hover * {
      text-decoration: underline; }
  .c-section > :last-child {
    margin-bottom: 0; }

.c-card {
  margin: 0;
  background: #ffffff;
  padding: 0;
  overflow: hidden; }
  @media (min-width: 601px) {
    .c-card {
      box-shadow: 0 1px 1px 1px rgba(39, 39, 39, 0.03);
      border: 1px solid rgba(39, 39, 39, 0.08);
      border-radius: 6px; } }
  .c-card--light {
    background-color: #5845a3; }
  .c-card--highlight {
    box-shadow: 0 2px 10px 0 rgba(39, 39, 39, 0.09);
    border: 1px solid #d5cdf7; }
  .c-card :last-child {
    margin-bottom: 0; }

.c-footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0; }
  .c-footer .c-footer__legal {
    padding: 0 14px;
    font-size: 0.84615rem;
    line-height: 3;
    font-family: -apple-system,BlinkMacSystemFont,'segoe ui',roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,'helvetica neue',sans-serif;
    font-weight: 500;
    color: rgba(115, 115, 115, 0.5);
    background: #f7f9fb; }
  .c-footer .c-footer__link {
    color: rgba(115, 115, 115, 0.5);
    text-decoration: underline; }
    .c-footer .c-footer__link:hover {
      color: #737373; }

.c-title {
  font-size: 1.53846rem;
  line-height: 1.5;
  font-family: -apple-system,BlinkMacSystemFont,'segoe ui',roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,'helvetica neue',sans-serif;
  font-weight: 400;
  color: #272727;
  margin: 0 0 14px;
  display: block; }
  .c-title--large {
    font-size: 2.92308rem;
    line-height: 1.3;
    font-family: -apple-system,BlinkMacSystemFont,'segoe ui',roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,'helvetica neue',sans-serif;
    font-weight: 300;
    margin: 7px 0 36px; }
  .c-title--small {
    font-size: 1.07692rem;
    line-height: 1.4;
    font-family: -apple-system,BlinkMacSystemFont,'segoe ui',roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,'helvetica neue',sans-serif;
    font-weight: 500; }
  .c-title--tiny {
    font-size: 0.92308rem;
    line-height: 1.6;
    font-family: -apple-system,BlinkMacSystemFont,'segoe ui',roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,'helvetica neue',sans-serif;
    font-weight: 500;
    color: #1d1930;
    margin: 0 0 7px; }
  .c-title--on-dark {
    color: #ffffff; }
  .c-title--on-dark-dim {
    color: rgba(255, 255, 255, 0.3); }
  .c-title--focal {
    color: #685ccc; }
  .c-title--warn {
    color: #e63f20; }
  @media (min-width: 601px) {
    .c-title--center {
      text-align: center; } }
  .c-title[href]:hover {
    cursor: pointer;
    color: #272727; }

@keyframes header-link-arrow {
  from {
    transform: translateX(-5px);
    opacity: 0; }
  to {
    transform: translateX(0px);
    opacity: 1; } }
    .c-title[href]:hover::after {
      display: inline-block;
      color: #737373;
      margin: 0 0 0 4px;
      content: "\21e2";
      animation: 0.1s header-link-arrow linear; }

.c-paragraph {
  font-size: 1.23077rem;
  line-height: 1.6;
  font-family: -apple-system,BlinkMacSystemFont,'segoe ui',roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,'helvetica neue',sans-serif;
  font-weight: 400;
  color: #5f5f5f;
  margin: 0 0 36px; }
  @media (min-width: 601px) {
    .c-paragraph {
      max-width: 40rem; } }
  .c-paragraph .c-paragraph__link {
    transition: all 0.15s ease;
    color: #5f5f5f;
    border-bottom: 1px solid #5845a3;
    cursor: pointer; }
    .c-paragraph .c-paragraph__link:hover, .c-paragraph .c-paragraph__link:active, .c-paragraph .c-paragraph__link:focus {
      color: #272727;
      border-bottom-color: #685ccc;
      background: #5845a3; }
  .c-paragraph--small {
    font-size: 1.07692rem;
    line-height: 1.6;
    font-family: -apple-system,BlinkMacSystemFont,'segoe ui',roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,'helvetica neue',sans-serif;
    font-weight: 400;
    color: #737373;
    margin: 0 0 14px; }
    .c-paragraph--small .c-paragraph__link {
      color: #737373; }
    @media (min-width: 601px) {
      .c-paragraph--small {
        max-width: 32.30769rem; } }
  .c-paragraph--tiny {
    font-size: 0.92308rem;
    line-height: 1.6;
    font-family: -apple-system,BlinkMacSystemFont,'segoe ui',roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,'helvetica neue',sans-serif;
    font-weight: 400;
    color: #737373;
    margin: 0 0 14px; }
    .c-paragraph--tiny .c-paragraph__link {
      color: #737373; }
    @media (min-width: 601px) {
      .c-paragraph--tiny {
        max-width: 32.30769rem; } }
  .c-paragraph--on-dark {
    color: #EEEFF1; }
  @media (min-width: 601px) {
    .c-paragraph--center {
      text-align: center;
      margin-left: auto;
      margin-right: auto; } }
  .c-paragraph--full-width {
    max-width: none; }

.c-list {
  margin: 0 0 14px;
  padding: 0;
  list-style-position: inside; }
  .c-list .c-list__item {
    font-size: 1rem;
    line-height: 1.9;
    font-family: -apple-system,BlinkMacSystemFont,'segoe ui',roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,'helvetica neue',sans-serif;
    font-weight: 400;
    color: #737373;
    padding: 0; }
  .c-list .c-list__item-title {
    font-size: 1rem;
    line-height: inherit;
    font-family: -apple-system,BlinkMacSystemFont,'segoe ui',roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,'helvetica neue',sans-serif;
    font-weight: 500;
    color: #5f5f5f; }

ul.c-list {
  list-style: none; }
  ul.c-list .c-list__item::before {
    content: "-";
    margin: 0 7px 0 0;
    color: rgba(115, 115, 115, 0.5); }

ol.c-list .c-list__item::before {
  content: ''; }

.c-attribute {
  font-size: 1rem;
  line-height: 1.8;
  font-family: monospace;
  font-weight: 400;
  display: inline-block;
  color: #272727;
  margin: 0 36px 36px 0; }
  .c-attribute .c-attribute__key {
    font-size: 0.76923rem;
    line-height: 1.6;
    font-family: -apple-system,BlinkMacSystemFont,'segoe ui',roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,'helvetica neue',sans-serif;
    font-weight: 500;
    opacity: 0.5;
    color: #5f5f5f;
    margin: 0;
    letter-spacing: 0.5px;
    text-transform: uppercase; }
  .c-attribute .c-attribute__value {
    margin: 0; }
    .c-attribute .c-attribute__value:empty::after {
      content: "---";
      opacity: 0.5; }

.c-tag {
  font-size: 0.92308rem;
  line-height: 1.9;
  font-family: -apple-system,BlinkMacSystemFont,'segoe ui',roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,'helvetica neue',sans-serif;
  font-weight: 500;
  box-shadow: 0 1px 1px 1px rgba(39, 39, 39, 0.03);
  background-color: #ffffff;
  border-radius: 6px;
  color: #685ccc;
  padding: 0 7px;
  display: inline-block;
  border: 1px solid rgba(39, 39, 39, 0.08);
  text-transform: capitalize;
  margin: 0 7px 7px 0;
  transition: background-color 0.15s ease, border-color 0.15s ease; }
  .c-tag[href].c-tag--active, .c-tag[href]:active, .c-tag[href]:focus, .c-tag[href]:hover {
    background-color: #EAFAFF;
    border-color: #d2f2ff; }

.c-notification {
  font-size: 1.15385rem;
  line-height: 1.6;
  font-family: -apple-system,BlinkMacSystemFont,'segoe ui',roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,'helvetica neue',sans-serif;
  font-weight: 500;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 14px 36px;
  background-color: #685ccc;
  color: #ffffff;
  z-index: 40;
  visibility: hidden;
  opacity: 0;
  animation: 8s page-notification-fade ease;
  z-index: 99999; }

@keyframes page-notification-fade {
  0% {
    opacity: 0.98;
    visibility: visible; }
  90% {
    opacity: 0.9;
    visibility: visible; }
  100% {
    opacity: 0;
    visibility: visible; } }
  .c-notification::before {
    content: '';
    display: inline-block;
    height: 2px;
    width: 20px;
    margin-right: 14px;
    vertical-align: 4px;
    background-color: #5845a3; }
  .c-notification--warning {
    background-color: #902410; }
    .c-notification--warning::before {
      background-color: #e63f20; }

.c-avatar {
  background-color: #EEEFF1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: image-url("avatar-missing.jpg");
  height: 38px;
  width: 38px;
  border-radius: 6px; }
  .c-avatar--large {
    height: 140px;
    width: 140px; }

.c-stat {
  padding: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: #1d1930;
  margin: 0 0 14px 0;
  flex-grow: 1;
  border-radius: 6px;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.3); }
  .c-stat .c-stat__value {
    font-size: 1.53846rem;
    line-height: 1.4;
    font-family: -apple-system,BlinkMacSystemFont,'segoe ui',roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,'helvetica neue',sans-serif;
    font-weight: 300;
    flex-grow: 1;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (min-width: 601px) {
      .c-stat .c-stat__value {
        font-size: 3.84615rem;
        line-height: 1.4;
        font-family: -apple-system,BlinkMacSystemFont,'segoe ui',roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,'helvetica neue',sans-serif;
        font-weight: 300; } }
  .c-stat .c-stat__key {
    font-size: 0.92308rem;
    line-height: 1.4;
    font-family: -apple-system,BlinkMacSystemFont,'segoe ui',roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,'helvetica neue',sans-serif;
    font-weight: 500;
    color: #ffffff;
    padding: 14px 0;
    background: rgba(255, 255, 255, 0.05); }
    @media (min-width: 601px) {
      .c-stat .c-stat__key {
        font-size: 1.07692rem;
        line-height: 1.4;
        font-family: -apple-system,BlinkMacSystemFont,'segoe ui',roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,'helvetica neue',sans-serif;
        font-weight: 500; } }
  .c-stat--focal {
    flex-grow: 2; }
    .c-stat--focal .c-stat__key {
      background: #685ccc; }
      @media (min-width: 601px) {
        .c-stat--focal .c-stat__key {
          font-size: 1.53846rem;
          line-height: 1.5;
          font-family: -apple-system,BlinkMacSystemFont,'segoe ui',roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,'helvetica neue',sans-serif;
          font-weight: 400; } }
    @media (min-width: 601px) {
      .c-stat--focal .c-stat__value {
        font-size: 6.15385rem;
        line-height: 1.4;
        font-family: -apple-system,BlinkMacSystemFont,'segoe ui',roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,'helvetica neue',sans-serif;
        font-weight: 300; } }

.c-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  padding: 0;
  align-items: center; }
  .c-navigation .c-navigation__item {
    display: inline-block;
    margin: 0 2px 0; }
    .c-navigation .c-navigation__item:first-child {
      margin-left: 0; }
    .c-navigation .c-navigation__item:last-child {
      margin-right: 0; }
    .c-navigation .c-navigation__item--push-right {
      margin-left: auto; }
  .c-navigation .c-navigation__link {
    font-size: 1.07692rem;
    line-height: 1.6;
    font-family: -apple-system,BlinkMacSystemFont,'segoe ui',roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,'helvetica neue',sans-serif;
    font-weight: 500;
    color: rgba(115, 115, 115, 0.6);
    padding: 7px;
    display: inline-block;
    border-bottom: 2px solid transparent;
    transition: all 0.15s ease; }
    .c-navigation .c-navigation__link:hover {
      color: #5f5f5f;
      border-bottom-color: #EEEFF1; }
    .c-navigation .c-navigation__link--active, .c-navigation .c-navigation__link:active, .c-navigation .c-navigation__link:focus {
      color: #272727 !important;
      border-bottom-color: #5845a3 !important; }
  .c-navigation--no-border {
    margin-bottom: 7px; }
    .c-navigation--no-border .c-navigation__link {
      border-bottom: none; }
  .c-navigation--small {
    color: rgba(115, 115, 115, 0.8); }
    .c-navigation--small .c-navigation__link {
      font-size: 0.92308rem;
      line-height: 1.6;
      font-family: -apple-system,BlinkMacSystemFont,'segoe ui',roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,'helvetica neue',sans-serif;
      font-weight: 400; }

.c-button {
  box-shadow: none;
  font-size: 1.07692rem;
  line-height: 1.8;
  font-family: -apple-system,BlinkMacSystemFont,'segoe ui',roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,'helvetica neue',sans-serif;
  font-weight: 500;
  background: #ffffff;
  border-radius: 6px;
  border: 1px solid rgba(39, 39, 39, 0.08);
  color: #272727;
  padding: 7px 14px;
  text-align: center;
  transition: color 0.15s ease, background 0.15s ease, box-shadow 0.15s ease;
  cursor: pointer;
  display: inline-flex;
  user-select: none;
  white-space: nowrap;
  box-sizing: border-box;
  cursor: pointer; }
  .c-button.c-button--active, .c-button:active, .c-button:focus, .c-button:hover {
    box-shadow: 0 1px 1px 1px rgba(39, 39, 39, 0.03);
    border-color: rgba(213, 205, 247, 0.5);
    background: #ffffff;
    color: #685ccc; }
  .c-button:active {
    transform: scale(0.96); }
  .c-button--large {
    font-size: 1.30769rem;
    line-height: 3.4;
    font-family: -apple-system,BlinkMacSystemFont,'segoe ui',roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,'helvetica neue',sans-serif;
    font-weight: 400;
    padding: 0 7px; }
  .c-button--small {
    font-size: 1rem;
    line-height: 2.2;
    font-family: -apple-system,BlinkMacSystemFont,'segoe ui',roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,'helvetica neue',sans-serif;
    font-weight: 500;
    padding: 0 7px; }
  .c-button--disabled, .c-button[disabled] {
    color: #737373 !important;
    background: #f7f9fb !important;
    border-color: rgba(39, 39, 39, 0.08) !important;
    cursor: not-allowed; }
    .c-button--disabled.c-button--active, .c-button--disabled:active, .c-button--disabled:focus, .c-button--disabled:hover, .c-button[disabled].c-button--active, .c-button[disabled]:active, .c-button[disabled]:focus, .c-button[disabled]:hover {
      box-shadow: none; }
  .c-button--warning {
    color: #e63f20 !important; }
  .c-button--focal {
    background: #685ccc;
    color: #ffffff; }
    .c-button--focal.c-button--active, .c-button--focal:active, .c-button--focal:focus, .c-button--focal:hover {
      background: #7a6fd2;
      color: #ffffff;
      border-color: #483abb; }
  .c-button--full-width {
    display: block;
    text-align: center;
    width: 100%; }

.c-link {
  font-size: 1rem;
  line-height: 1.6;
  font-family: -apple-system,BlinkMacSystemFont,'segoe ui',roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,'helvetica neue',sans-serif;
  font-weight: 400;
  transition: color 0.15s linear, background 0.15s linear;
  color: #685ccc;
  border-bottom: 1px solid #5845a3;
  cursor: pointer;
  display: inline-block; }
  .c-link:hover, .c-link:active, .c-link:focus {
    color: #685ccc;
    border-bottom-color: #d2f2ff;
    background: #EAFAFF; }

.c-input {
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid rgba(39, 39, 39, 0.08);
  padding: 7px 14px;
  text-align: left;
  box-sizing: border-box;
  margin: 7px 0 0 0;
  position: relative; }
  .c-input .c-input__label {
    font-size: 0.84615rem;
    line-height: 1.6;
    font-family: -apple-system,BlinkMacSystemFont,'segoe ui',roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,'helvetica neue',sans-serif;
    font-weight: 500;
    color: #272727;
    display: block;
    text-transform: capitalize;
    margin: 0 0 7px 0; }
    .c-input .c-input__label--inline {
      display: inline-block; }
  .c-input .c-input__message {
    font-size: 0.84615rem;
    line-height: 1.6;
    font-family: -apple-system,BlinkMacSystemFont,'segoe ui',roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,'helvetica neue',sans-serif;
    font-weight: 400;
    position: absolute;
    right: 0;
    margin: 0;
    color: #737373;
    top: 0;
    padding: 7px 14px 0 0; }
    .c-input .c-input__message--warning {
      font-size: 0.84615rem;
      line-height: 1.6;
      font-family: -apple-system,BlinkMacSystemFont,'segoe ui',roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,'helvetica neue',sans-serif;
      font-weight: 700;
      color: #e63f20; }
  .c-input .c-input__file {
    font-size: 0.84615rem;
    line-height: 1.6;
    font-family: -apple-system,BlinkMacSystemFont,'segoe ui',roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,'helvetica neue',sans-serif;
    font-weight: 400;
    margin: 2px 0; }
  .c-input .c-input__checkbox {
    vertical-align: middle;
    margin: 4px 4px 0 0; }
  .c-input .c-input__multi-select {
    display: flex; }
  .c-input .c-input__text {
    font-size: 1.15385rem;
    line-height: 1.6;
    font-family: -apple-system,BlinkMacSystemFont,'segoe ui',roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,'helvetica neue',sans-serif;
    font-weight: 400;
    background-color: #ffffff;
    border: none;
    width: 100%;
    outline: none;
    resize: vertical;
    color: #5f5f5f;
    box-shadow: inset 0 0 0px 9999px white; }
    .c-input .c-input__text::placeholder {
      font-size: 1.15385rem;
      line-height: 1.6;
      font-family: -apple-system,BlinkMacSystemFont,'segoe ui',roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,'helvetica neue',sans-serif;
      font-weight: 400;
      color: rgba(115, 115, 115, 0.6); }
  .c-input .c-input__select {
    font-size: 1.07692rem;
    line-height: 1.6;
    font-family: -apple-system,BlinkMacSystemFont,'segoe ui',roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,'helvetica neue',sans-serif;
    font-weight: 400;
    width: 100%;
    color: #5f5f5f;
    background: #EEEFF1;
    border: 0;
    height: 26px;
    border: 1px solid rgba(39, 39, 39, 0.08);
    margin: 3.5px 0 0 0;
    height: 30px;
    text-transform: capitalize;
    background: transparent; }
    .c-input .c-input__select:hover {
      box-shadow: 0 1px 1px 1px rgba(39, 39, 39, 0.03); }
    .c-input .c-input__select:focus {
      outline-color: #685ccc; }
  .c-input--large {
    box-shadow: 0 2px 10px 0 rgba(39, 39, 39, 0.09);
    margin: 0 0 14px;
    padding: inherit 36px; }
    .c-input--large .c-input__label {
      font-size: 1rem;
      line-height: 1.6;
      font-family: -apple-system,BlinkMacSystemFont,'segoe ui',roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,'helvetica neue',sans-serif;
      font-weight: 500;
      color: #685ccc; }
    .c-input--large .c-input__text {
      font-size: 1.38462rem;
      line-height: 1.6;
      font-family: -apple-system,BlinkMacSystemFont,'segoe ui',roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,'helvetica neue',sans-serif;
      font-weight: 400;
      background: red; }

.u-float-left {
  float: left; }

.u-float-right {
  float: right; }

.u-padding-tiny {
  padding: 7px !important; }

.u-padding-small {
  padding: 14px !important; }

.u-padding {
  padding: 36px !important; }

.u-padding-large {
  padding: 56px !important; }

.u-padding-none {
  padding: 0 !important; }

.u-padding-top-tiny {
  padding-top: 7px !important; }

.u-padding-top-small {
  padding-top: 14px !important; }

.u-padding-top {
  padding-top: 36px !important; }

.u-padding-top-large {
  padding-top: 56px !important; }

.u-padding-top-none {
  padding-top: 0 !important; }

.u-padding-right-tiny {
  padding-right: 7px !important; }

.u-padding-right-small {
  padding-right: 14px !important; }

.u-padding-right {
  padding-right: 36px !important; }

.u-padding-right-large {
  padding-right: 56px !important; }

.u-padding-right-none {
  padding-right: 0 !important; }

.u-padding-bottom-tiny {
  padding-bottom: 7px !important; }

.u-padding-bottom-small {
  padding-bottom: 14px !important; }

.u-padding-bottom {
  padding-bottom: 36px !important; }

.u-padding-bottom-large {
  padding-bottom: 56px !important; }

.u-padding-bottom-none {
  padding-bottom: 0 !important; }

.u-padding-left-tiny {
  padding-left: 7px !important; }

.u-padding-left-small {
  padding-left: 14px !important; }

.u-padding-left {
  padding-left: 36px !important; }

.u-padding-left-large {
  padding-left: 56px !important; }

.u-padding-left-none {
  padding-left: 0 !important; }

.u-padding-horizontal-tiny {
  padding-left: 7px !important;
  padding-right: 7px !important; }

.u-padding-horizontal-small {
  padding-left: 14px !important;
  padding-right: 14px !important; }

.u-padding-horizontal {
  padding-left: 36px !important;
  padding-right: 36px !important; }

.u-padding-horizontal-large {
  padding-left: 56px !important;
  padding-right: 56px !important; }

.u-padding-horizontal-none {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.u-padding-vertical-tiny {
  padding-top: 7px !important;
  padding-bottom: 7px !important; }

.u-padding-vertical-small {
  padding-top: 14px !important;
  padding-bottom: 14px !important; }

.u-padding-vertical {
  padding-top: 36px !important;
  padding-bottom: 36px !important; }

.u-padding-vertical-large {
  padding-top: 56px !important;
  padding-bottom: 56px !important; }

.u-padding-vertical-none {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.u-margin-tiny {
  margin: 7px !important; }

.u-margin-small {
  margin: 14px !important; }

.u-margin {
  margin: 36px !important; }

.u-margin-large {
  margin: 56px !important; }

.u-margin-none {
  margin: 0 !important; }

.u-margin-top-tiny {
  margin-top: 7px !important; }

.u-margin-top-small {
  margin-top: 14px !important; }

.u-margin-top {
  margin-top: 36px !important; }

.u-margin-top-large {
  margin-top: 56px !important; }

.u-margin-top-none {
  margin-top: 0 !important; }

.u-margin-right-tiny {
  margin-right: 7px !important; }

.u-margin-right-small {
  margin-right: 14px !important; }

.u-margin-right {
  margin-right: 36px !important; }

.u-margin-right-large {
  margin-right: 56px !important; }

.u-margin-right-none {
  margin-right: 0 !important; }

.u-margin-bottom-tiny {
  margin-bottom: 7px !important; }

.u-margin-bottom-small {
  margin-bottom: 14px !important; }

.u-margin-bottom {
  margin-bottom: 36px !important; }

.u-margin-bottom-large {
  margin-bottom: 56px !important; }

.u-margin-bottom-none {
  margin-bottom: 0 !important; }

.u-margin-left-tiny {
  margin-left: 7px !important; }

.u-margin-left-small {
  margin-left: 14px !important; }

.u-margin-left {
  margin-left: 36px !important; }

.u-margin-left-large {
  margin-left: 56px !important; }

.u-margin-left-none {
  margin-left: 0 !important; }

.u-margin-horizontal-tiny {
  margin-left: 7px !important;
  margin-right: 7px !important; }

.u-margin-horizontal-small {
  margin-left: 14px !important;
  margin-right: 14px !important; }

.u-margin-horizontal {
  margin-left: 36px !important;
  margin-right: 36px !important; }

.u-margin-horizontal-large {
  margin-left: 56px !important;
  margin-right: 56px !important; }

.u-margin-horizontal-none {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.u-margin-vertical-tiny {
  margin-top: 7px !important;
  margin-bottom: 7px !important; }

.u-margin-vertical-small {
  margin-top: 14px !important;
  margin-bottom: 14px !important; }

.u-margin-vertical {
  margin-top: 36px !important;
  margin-bottom: 36px !important; }

.u-margin-vertical-large {
  margin-top: 56px !important;
  margin-bottom: 56px !important; }

.u-margin-vertical-none {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.u-margin-horizontal-auto {
  margin-left: auto;
  margin-right: auto; }

.u-border-none {
  border: none !important; }

.u-border-horizontal {
  border-top: 1px solid rgba(39, 39, 39, 0.08) !important;
  border-bottom: 1px solid rgba(39, 39, 39, 0.08) !important; }

.u-border-left {
  border-left: 1px solid rgba(39, 39, 39, 0.08) !important; }

.u-border-right {
  border-right: 1px solid rgba(39, 39, 39, 0.08) !important; }

.u-border-bottom {
  border-bottom: 1px solid rgba(39, 39, 39, 0.08) !important; }

.u-border-top {
  border-top: 1px solid rgba(39, 39, 39, 0.08) !important; }

.u-clearfix {
  position: relative; }
  .u-clearfix:before, .u-clearfix:after {
    content: " ";
    display: table; }
  .u-clearfix:after {
    clear: both; }
  .u-clearfix {
    *zoom: 1; }

.u-hide-mobile {
  display: none; }
  @media (min-width: 601px) {
    .u-hide-mobile {
      display: block; } }

.u-corners-rounded {
  border-radius: 6px; }


/*# sourceMappingURL=style.css.map*/