.u-border {
  $border-value: 1px solid $c-border !important;

  &-none { border: none !important; }

  &-horizontal {
    border-top: $border-value;
    border-bottom: $border-value;
  }

  &-left { border-left: $border-value; }
  &-right { border-right: $border-value; }
  &-bottom { border-bottom: $border-value; }
  &-top { border-top: $border-value; }
}
