// c-attribute
//
// Displays data in a key/value format. Useful for holding model meta data. Gracefully degrades if no value given to <code>c-attribute__value</code> component.
//
// Markup:
// <div class="c-attribute">
//   <div class="c-attribute__key">Participants</div>
//   <div class="c-attribute__value">600</div>
// </div>
//
//
// Styleguide: components.content.attribute

.c-attribute {
  @include font(13px, regular, 1.8, $ff-mono);
  display: inline-block;
  color: $c-grey-xdark;
  margin: 0 $s-regular $s-regular 0;

  .c-attribute__key {
    @include font(10px, medium);
    opacity: 0.5;
    color: $c-grey-dark;
    margin: 0;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  .c-attribute__value {
    margin: 0;
    &:empty::after {
      content: "---";
      opacity: 0.5;
    }
  }
}