.c-avatar {
  background-color: $c-grey-light;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: image-url('avatar-missing.jpg');
  height: 38px;
  width: 38px;
  border-radius: $border-radius;

  &--large {
    height: 140px;
    width: 140px;
  }
}
