.c-footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;

  .c-footer__legal {
    padding: 0 $s-small;
    @include font(11px, medium, 3);
    color: rgba($c-grey-medium, 0.5);
    background: $c-grey-xlight;
  }

  .c-footer__link {
    color: rgba($c-grey-medium, 0.5);
    text-decoration: underline;

    &:hover {
      color: $c-grey-medium;
    }
  }
}