// c-link
//
// Stylized content container. Use the c-section component inside to standardize padding.
//
// Markup:
// <a class="c-link" href="#">Standalone Links</a>
//
// Styleguide: components.input.link

.c-link {
  @include font(13px, regular);
  transition: color $transition-speed linear, background $transition-speed linear;
  color: $c-primary;
  border-bottom: 1px solid $c-primary-light;
  cursor: pointer;
  display: inline-block;

  &:hover,
  &:active,
  &:focus {
    color: $c-primary;
    border-bottom-color: $c-primary-light;
    background: $c-primary-light;
  }
}