// c-section
//
// Top-level notification component that is bottom fixed to the viewport. The notification component hides 8 seconds after injection. Please note: the inline styles in the preview markup are for styleguide presentation purposes.
//
// Markup:
// <div class="c-section {{modifier_class}}">
//  standardized padding and color!
// </div>
//
// .c-section--small  - *Size Variant:* Small y-height
// .c-section--flush  - *Size Variant:* Flush y-height
// .c-section--white  - *Color Variant* Make the background white
// .c-section--light  - *Color Variant* Make the background light
// .c-section--focal  - *Color Variant* Make the background focal
// .c-section--dark   - *Color Variant* Make the background dark
// 
// Styleguide: components.contain.section

.c-section {
  $padding-x: 3vw;

  @include clearfix;
  padding: $s-regular $s-small;
  display: block;

  @media #{$bp-desk} {
    padding: $s-regular $padding-x
  }

  &--small { padding: $s-small $padding-x; }
  &--flush { padding: 0 $padding-x; }
  &--white { background: $c-white; }
  &--light { background: $c-grey-xlight; }
  &--focal { background: $c-primary-light; }
  &--dark { background: $c-primary; }

  & + & { border-top: 1px solid $c-border; }

  &[href]:hover {
      background-color: $c-grey-xlight;
      * { text-decoration: underline; }
  }

  > :last-child {
    margin-bottom: 0;
  }
}